page-detallecenso {
  .bar-button-default-md {
    color: #fff;
  }
  .toolbar-title-md {
    color: #ffffff;
    font-weight: 400;
    font-size: 21px;
}
   .carheade{
   	    background: #ffc20f;
    text-align: center;
    color: #00377b;
    font-size: 19px;
   }
}
