page-popover {

}


.popover-md .popover-content{
    width: 272px;
    border-radius: 10px;
    min-width: 0;
    min-height: 0;
    max-height: 90%;
    color: #000;
    background: #fff;
    top: 109px !important;
}

.popovermg{
    color: #00377a;
    font-weight: 500;
    padding-top: 15px;
}